/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css"; */


.highlight-search-text {
  background-color:yellow;
  color: green;
  font-weight: bold;
}